# Base de datos SQL Server
DB_SERVER=localhost
DB_DATABASE=Zooni
# Para Windows Authentication, dejar USER y PASSWORD vacios
DB_USER=
DB_PASSWORD=
DB_TRUST_CERTIFICATE=true

# JWT
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_KEY_32CHARS
JWT_ISSUER=zooni-api
JWT_AUDIENCE=zooni-app
JWT_EXPIRES_IN=24h

# Server
PORT=5165
NODE_ENV=development
